body{
  background-color: #C1C1C1;
}

a{
  text-decoration: none;
  color: white;
}

p {
  font-family: "Arial";
  color: black;
  font-size: 1em;
  line-height: 1.125em;
}

h3{
  font-family: "Arial";
  font-weight:200;
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

h4{
  font-family: "Arial";
  font-weight:200;
  color: black;
  font-size: 0.6em;
  text-transform: uppercase;
  text-align: left;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

/*SHORT INFO*/

#left-side{
  height: 100vh;
  width: 50%;
  top:0%;
}

.intro p{
  margin-top: 0.5em;
  margin-right: 1em;
}

.intro a{
  cursor: pointer;
}

.intro a:hover {
  color: #E1FF29;
  text-decoration: none;
}

/*PROJECTS LIST*/

.projects-list{
  margin-top: 25%;
  width: 100%;
}

.projects-list td {
  padding-bottom: 0.6em;
  cursor: pointer;
}

.projects-list tr {
  font-family: "Arial";
  font-weight:200;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  text-align: left;
}

.projects-list th {
  padding-bottom: 0.6em;
  color: black;
  text-decoration: none;
  font-weight:200;
}

.projects-list tr:hover {
  color: #E1FF29;
}

/*RIGHT-SIDE*/

#right-side{
  display: flex;
  position: fixed;
  height: 100vh;
  width: 50vw;
  left: 50%;
  top:0%;
  justify-content: center;
  overflow: hidden;
  border-left: 1px solid black;
  background-color: #C1C1C1;
  z-index: 1;
}

#overview{
  display: flex;
  position: absolute;
  height: 100vh;
  width: 50vw;
  top:0%;
  justify-content: center;
  align-items: center;

}

/*ANIMATION*/

.axes{
  position: absolute;
  top:40%;
  width:5px;
  height:100px;
  background-color: black;
}

#v{
  transform: rotate(0deg);
}

#ol{
  transform: rotate(45deg);
}

#h{
  transform: rotate(90deg);
}

#or{
  transform: rotate(135deg);
}

/*OVERVIEW*/


.overview-project{
  display: none;
  position: absolute;
}

.overview-project img{
  max-width: 15em;
  max-height: 15em;
  border: 1px solid #E1FF29;
}

#morph-hover{
  margin-top: 45%;
  margin-left: 35%;
}

#skgrrk-hover{
  margin-top: -55%;
  margin-left: -10%;
}

#wmhh-hover{
  margin-top: -45%;
  margin-left: 40%;
}

#valpina-hover{
  margin-top: 60%;
  margin-left: -40%;
}

#sono-hover{
  margin-top: -10%;
  margin-left: -60%;
}

#nhs-hover{
  margin-top: -10%;
  margin-left: -10%;
}

/*INFO*/

.info{
  position: absolute;
  left: -100%;
  height: 100%;
  width: 100%;
  background-color:#C1C1C1;
}

.info img{
  position: absolute;
  max-width: 15em;
  border: solid #E1FF29 1px;
}

/*BIO*/

.bio{
  position: absolute;
  margin-right: 1em;
  top:3em;
  left:0.5em;
  font-size: 1em;
}

/*CONTACTS*/

.info-list{
  position: absolute;
  width: 90%;
  top:0.8em;
  left:0.3em;
}

.info-list h4{
  color: white;
  font-size: 0.8em;
}

.info-list h4:hover {
  color: #E1FF29;
  cursor: pointer;
}

/*PANEL RIGHT ACTIVE*/

#exit img{
  display: none;
  position: fixed;
  top:1em;
  right:1em;
  max-height:1.5em;
  cursor: pointer;
  z-index: 5;
}

/*PROJECT PANEL EXPANDED*/
#project-expanded{
  display: none;
}

.project-features{
  position: absolute;
  width: 90%;
  top:0.8em;
  left:0.5em;
}

.project-features h4{
  color: white;
  font-size: 0.8em;
}

.project-cover{
  margin-top: 7%;
  margin-left: 0.5em;
  margin-right: 1em;
}

.project-cover img{
  max-width: 100%;
}
