#landing {
  position: absolute;
  width: 75%;
  margin-left: 2em;
  margin-top: 2em;
  z-index: 10;
}

.intro p {
  margin: 2em 1em 4em 1em;
}

.intro a {
  color: blue;
  text-decoration: none;
}

.list {
  width: 100%;
}

.list td, tr, th {
  font-family: "everettregular";
  font-size: 0.95em;
  font-weight: 200;
  text-align: left;
  padding-bottom: 1em;
}

.list th {
  padding: 4em 0 2em 0;
}

.item-list td {
  cursor: pointer;
}

.item-list:hover {
  color: blue;
}

a:hover {
  color: blue;
}

.hidden {
  opacity: 0;
}

.inverted {
  background-color: white;
}

.highlight-text {
  color: blue !important;
}

.left-side {
  width: 50%;
  border-right: 1.5px solid black;
  background-color: white;
  z-index: 5;
}

#left-side-shrinked {
  position: absolute;
  max-height: 100%;
  width: 25%;
  overflow-y: scroll;
  z-index: 2;
  border-right: 0px !important;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#left-side-shrinked::-webkit-scrollbar {
  display: none;
}

.right-side {
  height: 100vh;
  width: 50%;
  z-index: 1;
}

.thumbnail {
  display: flex;
  align-items: center;
  height: 100vh;
}

#right-side-expanded {
  position: absolute;
  left: 25.1%;
  width: 75%;
  outline: 1.5px solid black;
  overflow-y: scroll;
}

#right-side-expanded p{
  margin-left: 1em;
  margin-block-end:0.5em;
  text-transform: uppercase;
}

#right-side-expanded h1{
  width: 70vw;
  margin-left: 0.5em;
}

#exit {
  position: sticky;
  top: 1.5em;
  float: right;
  right: 1em;
  mix-blend-mode: difference;
  max-height: 1.5em;
  cursor: pointer;
  z-index: 15;
  background-color: white;
}

#exit img {
  max-height: 1.5em;
}

/* HOME-LEFT */
#project-list {
  margin-left: 1em;
  margin-right: 1em;
}

/* HOME-RIGHT */
#main-logo-mobile {
  display: none;
}

.highlight-thumbnail {
  position: fixed;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}

.small-thumbnail {
  position: fixed;
  left: 75%;
  transform: translate(-50%, 0%);
}

.small-thumbnail img {
  display: none;
  min-width: 50vw !important;
  height: 100vh !important;
  overflow:hidden;
}

/* BIO-LEFT */
#bio_left-side{
  background-color: black;
  z-index: 10;
  border-right: 1.5px solid white;
}

#bio_left-side p{
  margin-top: 2em;
  color: white;
}

#bio_left-side a{
  color: white;
}

#bio_left-side a:hover {
  color: blue !important;
}

#exit-bio {
  position: sticky;
  top: 1.5em;
  float: right;
  margin-right: 1em;
  mix-blend-mode: difference;
  max-height: 1.5em;
  cursor: pointer;
  z-index: 15;
  background-color: white;
}

#exit-bio img {
  max-height: 1.5em;
}

#bio-exp {
  display: flex;
  flex-direction: row;
  margin-right: 1em;
}

#bio-exp p {
  margin-bottom: 2em;
}

#bio-exp ul {
padding-inline-start: 1em;
}

#bio-exp ul li {
  margin-bottom: 2.4em;
  color: white;
  list-style: none;
  font-family: "everett"
}

#bio-exp ul li a{
  text-decoration: underline;
}

.bio-exp-col {
  width: 100%;
}

#contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5em 1em 1.5em 1em;
}

#contacts-mobile {
  display: none;
}

#bio-logo img {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  max-width: 40vh;
  max-height: 40vh;
}

#bio-logo-mobile {
  display: none;
}

/* PROJECT-LEFT */
#project-intro p {
  margin-top: 1em;
}

.role {
  top: 1em;
  height: 3em;
}

#project-title {
  position: fixed;
  text-transform: uppercase;
  z-index: 10;
}

#project-title {
  color: blue;
}

.linkz {
  margin-top: 6em;
}

.linkz p a {
  color: blue;
}

.linkz p a:hover {
  color: blue;
}

.description {
  margin-top: 4em;
}

#project-intro p {
  margin-bottom: 0.95em;
}

/* PROJECT-RIGHT */

#project-cover-mobile {
  display: none;
}

#project-cover {
  margin-top: 6em;
  overflow: hidden;
}

#project-cover img {
  max-width: 100%;
}

.slide {
  margin-top: 0.5em;
  overflow-y: hidden;
  white-space: nowrap;
}

img.slide  {
  max-width: 100%;
  max-height: 95vh;
}

.gallery {
  display: flex;
  flex-direction: row;
}

.gallery img{
max-height: 75vh;
}

#project-video {
  margin-top: 1em;
}

.next {
  height: 3em;
  width: 100%;
  margin-top: 1em;
  background-color: blue;
}

.next p {
  cursor: pointer;
  float: right;
  margin-right: 1em;
}

.next p a{
  color: white
}

/*HOME MOBILE */
@media screen and (max-width: 768px) {
  p {
    font-size: 1em;
  }

  .list td, tr, th {
    font-size: 1em;
  }

  .left-side {
    width: 100%;
    border: 0px;
  }

  .right-side {
    display: none;
    height: auto !important;
  }

  .intro {
    padding: 1em;
  }

  .intro p {
    margin-bottom: 15em;
  }

  #main-logo-mobile {
    display: none;
    position: fixed;
    width: 7.5em;
    height: 7.5em;
    top: 25%;
  }

  #project-list {
    margin: 0.95em;
  }

  .list-output {
    display: none;
  }

  /*BIO MOBILE */
  #contacts-mobile {
    display: contents;
    padding-left: 1em;
  }

  #contacts-mobile p {
    margin-bottom: 0 !important;
  }

  #contacts-mobile h5 {
    margin-right: 2em;
  }

  #bio-intro {
    padding-top: 2.5em;
  }

  #bio-intro p {
    margin-top: 0.95em;
    margin-bottom: 2em;
  }

  #bio-intro h5 {
    margin-bottom: 0;
  }

  #curriculum p {
    margin-bottom: 0.95em;
  }

  #bio-logo-mobile {
    display: contents;
  }

  #bio-logo-mobile img {
    display: block;
    margin: auto;
    max-height: 30vh;
  }

  #curriculum p {
    margin-top: 2em;
  }

  /*PROJECTS MOBILE */
  #project-card {
    display: block;
  }

  #left-side-shrinked {
    position: relative;
    width: 100%;
    border: 0px !important;
  }

  #right-side-expanded {
    display: block;
    left: 0%;
    width: 100%;
    border: 0px !important;
  }

  #project-cover {
    display: none;
  }

  #project-cover-mobile {
    display: contents;
    padding: 0.95em;
    margin: auto;
  }

  #project-cover-mobile img {
    max-width: 100%;
  }

  .project-gallery {
    height: 30vh;
  }

  .project-gallery img {
    max-height: 30vh;
  }

  #project-video {
    width: 96%;
  }

  #features {
    display: none;
  }

}

/*p5*/
canvas {
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  position: fixed;
}

/*ENTER*/
.enter {
  display: none;
  position: absolute;
  z-index: 5;
  height: 100%;
  width: 100%;
  background-color: blue;
}
